.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

// 共通のスタイル
.example {
    font-size: 36px;
    color: black;
}

// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }
}

.introduction {
    position: absolute;
    top: 360px;
    left: 160px;
    width: 512px;
    height: 93px;
    font-size: 64px;
    font-weight: 500;
    color: #000;
}

.introductionIcon {
    position: absolute;
    top: 360px;
    left: 160px;
    width: 12px;
    height: 98px;
}

.backIcon {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 120px;
    height: 120px;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    cursor: pointer;
    background-color: #de0d2226;
}

/* 題名 */
.eventName {
    position: absolute;
    top: 8px;
    left: 32px;
    width: 120px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #000;
}

/* 回転 */
.summary.open {
    .icon {
        transform: rotate(90deg);
    }
}

/* Playアイコン */
.icon {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    transition: transform 0.2s ease;
}

/* Day全体 */
.detailsDay {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

/* 個別アイコン */
.detailsDay .detailItem {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    margin-bottom: 16px;
}

/* アイコンサイズ */
.detailsDay .mappinIcon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

/* ラベル */
.detailsDay strong {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

/* 詳細 */
.detailsDay p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.detailItem {
    display: flex;
    align-items: center;
}

/* チケットアイコン用 */
.ticketPhoto {
    position: absolute;
    top: 35px; // summary の上端から少し下
    left: 872px; // アコーディオン右端から余白
    width: 168px; // SVG の幅
    height: 50px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* details が open の時だけ表示 */
.details[open] .ticketPhoto {
    opacity: 1;
}

.events {
    position: absolute;
    top: 75px;
    left: 20px;
    width: 92px;
    height: 42px;
}
