.wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
}

.hour {
    border-left: 1px solid #ccc;
}

.label {
    margin-left: 4px;
    font-size: 10px;
    color: #fff;
}

.controls {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 12px;

    button {
        padding: 4px 8px;
        cursor: pointer;
        background: #eee;
        border: none;
        border-radius: 6px;
    }
}

.page {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.dayControls {
    display: flex;
    gap: 12px;

    button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: none;
        border: none;

        img {
            width: 80px;
            max-width: 20vw;
            height: auto;
        }
    }
}

.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;

    img {
        width: 32px;
        max-width: 8vw;
        height: auto;
    }
}

/* Embla Carousel */
.embla {
    flex: none;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

.emblaContainer {
    display: flex;
}

.emblaSlide {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
}

.locationName {
    position: relative;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    min-height: calc(105px * 8);
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 40px;
    overflow-y: visible;
    background: #fff;
    border-radius: 8px;
}

.timelineLines {
    position: absolute;
    right: 0;
    left: 60px;
    z-index: 1.5;
    width: 264px;
    height: 100%;
    pointer-events: none;
}

.line {
    position: absolute;
    width: 100%;
    height: auto;
}

.timeScale {
    position: absolute;
    top: -35;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
    height: 100%;
    padding: 0;
}

.timeMark {
    height: 105px;
    padding-right: 4px;
    font-size: 16px;
    line-height: 105px;
    color: #000;
    text-align: right;
}

/* イベント */
.events {
    position: relative;
    height: 100%;
}

.event {
    position: absolute;
    right: 8px;
    left: 60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 256px;
    padding: 4px;
    font-size: 0.85rem;
    color: #000;
    text-align: center;
    background: #ee635240;
    border-radius: 0;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 6px;
        height: 100%;
        content: "";
        background: red;
    }
}

.startTime {
    position: absolute;
    top: 0;
    left: 6;
    z-index: 2;
    width: 500px;
    font-size: 12px;
    line-height: 1;
    color: #000;
    text-align: center;
    transform: translateX(calc(-50% + 16px)) translateY(calc(-50%));
}

.endTime {
    position: absolute;
    bottom: 0;
    left: 6;
    z-index: 1;
    width: 500px;
    font-size: 12px;
    line-height: 1;
    color: #000;
    text-align: center;
    transform: translateX(calc(-50% + 16px)) translateY(calc(50%));
}

.eventName {
    font-size: 12px;
    text-align: center;
}

.topControls {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shosaiBtn {
    position: absolute;
    top: 50%;
    right: 4px;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: none;
    border: none;
    transform: translateY(-50%);

    svg {
        width: 20px;
        height: 20px;
    }
}

.eventsTitle {
    margin: 0;
    font-size: 28px; // サイズは好みで調整
    font-weight: 700;
    font-weight: bold;
}

.firstLetter {
    color: #de0d22; // 赤色
}
