/* 共通のスタイル */
.example {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

/* スマホ用のスタイル */
@include media(sm) {
    .example {
        width: 335px;
        height: 42px;
        margin: 30px 20px 25px;

        #g {
            color: #de0d22;
        }
    }
}

/* PC用のスタイル */
@include media(lg) {
    .example {
        /* 上書き可能 */
        color: red;
        background-color: green;
    }
}
