/* テキストのスタイル */
.blog_content {
    color: #333;
    font-size: 1rem;
}

/* テキストブロックのスタイル */
.blog_content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* 見出しのスタイル */
.blog_content h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
.blog_content h2 {
    color: green;
    font-size: 1.25rem;
    font-weight: 600;
}
.blog_content h3 {
    color: blue;
    font-size: 1.125rem;
    font-weight: 600;
}

/* 画像のスタイル */
.blog_content img {
    width: 100%;
}

/* 画像のキャプションのスタイル */
.blog_content img + p {
    color: orange;
}

/* 箇条書きリストのスタイル */
.blog_content ul {
    list-style: none;
}
.blog_content ul li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.blog_content ul li::before {
    content: "・";
}
/* 番号付きリストのスタイル */
.blog_content ol {
    list-style: none;
}
.blog_content ol li {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
.blog_content ol li::before {
    content: counter(li);
    counter-increment: li;
}
