*:focus-visible {
    outline: 2px solid #de0d2280;
}

.download_button {
    margin: 20px;
    display: flex;
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
}
