@import "tailwindcss";

/* stylelint-disable-next-line */
@theme {
    --breakpoint-b: 1000px;
    --color-pri-red: #de0d22;
    --color-pri-black: #0b0e0f;
}

html,
body {
    max-width: 100svw;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
    overflow-y: scroll;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

*::selection {
    color: #fff;
    background-color: #de0d2280;
}

#holy-progress {
    position: sticky;
    z-index: 100000000;
}
