@import "tailwindcss";

html,
body {
    max-width: 100svw;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*::selection {
    color: #fff;
    background-color: #de0d2280;
}
