.red {
    color: #e7242a;
}

.back {
    position: absolute;
    top: 62px;
    left: calc((100% - 887px) / 2);
    z-index: 1;
}

.content {
    height: 520px;
    text-align: center;
}

.title {
    font-size: 128px;
    font-weight: 640;
    height: 151px;
    position: relative;
    top: 74px;
    z-index: 2;
}

.subtitle {
    font-size: 20px;
    font-weight: 640;
    position: relative;
    top: 74px;
    z-index: 2;
}

.text_box {
    position: relative;
    top: 119px;
    z-index: 2;
}

.text {
    font-size: 16px;
    font-weight: 500;
}

.button {
    position: relative;
    top: 164px;
    z-index: 2;
    left: calc((100% - 250px) / 2);
}
