.red {
    color: #e7242a;
}

.back {
    position: absolute;
    left: -30px;
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
    height: 100%;
    overflow: hidden;
}

@include media(sm) {
    .back {
        left: 0%;
        width: 100%;
    }
}

.back_image {
    position: absolute;
    width: 10000%;
    height: 100%;
}

@include media(sm) {
    .back_image {
        display: none;
    }
}

.sp_back_image {
    display: none;
}

@include media(sm) {
    .sp_back_image {
        position: absolute;
        display: inline-block;
        width: 10000%;
        height: 100%;
    }
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 520px;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
}

@include media(sm) {
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 422px;
        padding: 0 10%;
        margin: 0 auto;
        text-align: center;
    }
}

.title {
    z-index: 2;
    height: 151px;
    margin-top: 52px;
    font-size: 128px;
    font-weight: 640;
}

@include media(sm) {
    .title {
        z-index: 2;
        height: 151px;
        margin-top: 10px;
        font-size: 96px;
        font-weight: 640;
    }
}

.subtitle {
    z-index: 2;
    margin-top: 3px;
    font-size: 20px;
    font-weight: 640;
}

@include media(sm) {
    .subtitle {
        z-index: 2;
        margin-top: -35px;
        font-size: 16px;
        font-weight: 640;
    }
}

.text_box {
    z-index: 2;
    margin-top: 42px;
}

@include media(sm) {
    .text_box {
        z-index: 2;
        margin-top: 30px;
        text-align: left;
    }
}

.text {
    font-size: 16px;
    font-weight: 500;
}

@include media(sm) {
    .text {
        font-size: 14px;
        font-weight: 500;
    }
}

.button_box {
    display: inline-block;
    justify-content: center;
    margin: 42px auto 0;
}

@include media(sm) {
    .button_box {
        margin-top: 39px;
    }
}

.button {
    z-index: 2;
    transition: opacity 0.2s ease-in-out;
}

@include media(sm) {
    .button {
        width: 187.5px;
    }
}

.button:hover {
    opacity: 0.8;
}

.container {
    z-index: 1;
}

@include media(lg) {
    .container {
        height: 520px;
    }
}

@include media(sm) {
    .break {
        display: none;
    }
}
