.wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: 8px;
    font-size: 12px;
    text-align: center;
}

.hour {
    border-left: 1px solid #ccc;
}

.label {
    margin-left: 4px;
    font-size: 10px;
    color: #fff;
}

.timeTableSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1200px;
    margin-bottom: 35px;
}

.controls {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 12px;

    button {
        padding: 4px 8px;
        cursor: pointer;
        background: #eee;
        border: none;
        border-radius: 6px;
    }
}

.page {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.dayControls {
    display: flex;
    gap: 15px;
    justify-content: center;

    .dayBtn {
        padding: 1px 18px 2px;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        cursor: pointer;
        background: #d9d9d9;
        border: none;
        border-radius: 9999px;
        transition: all 0.2s ease;
    }

    .active {
        margin-right: auto;
        margin-left: auto;
        color: #fff;
        background-color: #de0d22;
        border-radius: 9999px;
    }
}

.dayButtonWrapper {
    display: flex;
    flex-direction: column; /* ボタンの下に日付を配置 */
    align-items: center; /* ボタンと日付を中央揃え */
}

.dayButtonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayNumber {
    font-size: 20px;
}

.dayLabel {
    font-size: 14px;
    color: #0b0e0f;
}

.arrowBtn {
    cursor: pointer;
    background: none;
    border: none;

    svg {
        width: 32px;
        height: 32px;
    }
}

/* Embla Carousel */
.embla {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.emblaContainer {
    display: flex;
    gap: 20px;
}

.emblaSlide {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;

    @media (width >= 768px) {
        flex: 0 0 calc(calc(100% - 20px) / 2);
    }

    @media (width >= 1024px) {
        flex: 0 0 calc(calc(100% - 40px) / 3);
    }

    @media (width >= 1440px) {
        flex: 0 0 calc(calc(100% - 60px) / 4);
    }
}

.locationName {
    margin-bottom: 5px;
    font-size: 28px;
    text-align: center;
}

.timeline {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow-y: visible;
}

.timelineLines {
    position: absolute;
    right: 0;
    left: 5%;
    width: 90%;
    height: 100%;
    pointer-events: none;
}

.dashed {
    position: absolute;
    right: 0;
    left: 50px;
    z-index: -100;
    height: 1px;
    background-image: linear-gradient(to right, #0b0e0f, #0b0e0f 14px, transparent 14px, transparent 28px);
    background-repeat: repeat-x;
    background-position: left center;
    background-size: 28px 1px;
    opacity: 0.7;
}

.line {
    position: absolute;
    width: 100%;
    height: auto;
}

.timeMark {
    position: absolute;
    left: 7px;
    font-size: 16px;
    line-height: 23px;
}

.events {
    position: relative;
    height: 100%;
}

.event {
    position: absolute;
    right: 12px;
    left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-size: 0.85rem;
    color: #000;
    text-align: center;
    cursor: pointer;
    background: var(--bg-color);
    border-radius: 0;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 6px;
        height: 100%;
        content: "";
        background: var(--bar-color);
    }
}

.startTime {
    position: absolute;
    top: 0;
    left: 6;
    z-index: 2;
    font-size: 12px;
    line-height: 1;
    color: #000;
    text-align: center;
    transform: translateX(calc(-50% + 16px)) translateY(calc(-50%));
}

.endTime {
    position: absolute;
    bottom: 0;
    left: 6;
    z-index: 1;
    width: 500px;
    font-size: 12px;
    line-height: 1;
    color: #000;
    text-align: center;
    transform: translateX(calc(-50% + 16px)) translateY(calc(50%));
}

.eventName {
    font-size: 12px;
    text-align: center;
}

.topControls {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 380px;
    padding: 0 7px;
    margin-bottom: 20px;
}

.shosaiBtn {
    position: absolute;
    top: 50%;
    right: 4px;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateY(-50%);

    svg {
        width: 20px;
        height: 20px;
    }
}

.eventsWrapper {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @include media(lg) {
        width: calc((100% + 40px) * 0.8);
    }
}

.eventsTitle {
    font-size: 28px;
    font-weight: 700;
    font-weight: bold;

    @include media(lg) {
        font-size: 40px;
    }
}

.firstLetter {
    color: #de0d22;
}
