.red {
    color: #de0d22;
}

.content {
    width: 1120px;
    max-width: 80%;
    margin: 0 auto 50px;
    text-align: left;

    @include media(sm) {
        max-width: calc(100% - 40px);
    }
}

.title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
}

@include media(sm) {
    .title {
        margin-top: 30px;
        font-size: 28px;
        font-weight: 700;
    }
}

.text1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

@include media(sm) {
    .text1 {
        margin-top: 25px;
        font-size: 16px;
        font-weight: 500;
    }
}

.text2 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

@include media(sm) {
    .text2 {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
    }
}

.square {
    width: 1120px;
    max-width: 100%;
    margin: 36px auto;
    border: 2px solid #de0d22;
}

@include media(sm) {
    .square {
        margin: 36px auto;
        border: 1.5px solid #de0d22;
    }
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    margin: 0 20px;
    border-bottom: 2px solid #de0d22;
}

@include media(sm) {
    .top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        margin: 0 10px;
        border-bottom: 1.5px solid #de0d22;
    }
}

.top_text {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 500;
}

@include media(sm) {
    .top_text {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 500;
    }
}

.middle_text {
    margin: 4px 0 4px 20px;
    font-size: 16px;
    font-weight: 500;
}

@include media(sm) {
    .middle_text {
        margin: 4px 0 0 10px;
        font-size: 14px;
    }
}

.bottom {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.sns_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30svw;
}

@include media(sm) {
    .sns_button {
        width: max(120px, 25svw);
    }
}

@include media(sm) {
    .btn_img {
        width: 18px;
        height: 18px;
    }
}

.bottom_text {
    margin-right: 9px;
    margin-left: 16px;
    font-size: 28px;
    font-weight: 500;
}

@include media(sm) {
    .bottom_text {
        margin-right: 8.15px;
        margin-left: 8.15px;
        font-size: 15px;
    }
}

.form {
    width: 80%;
    margin: 0 auto 50px;
}

@include media(sm) {
    .form {
        width: 100%;
    }
}
