.red {
    z-index: 1;
    color: #de0d22;
}

.black {
    z-index: 1;
    color: #0b0e0f;
}

.title {
    width: min(1022px, 80svw);
    margin: 30px auto;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
}

@include media(sm) {
    .title {
        width: calc(100svw - 40px);
        margin-bottom: 25px;
        font-size: 28px;
    }
}

.sentence {
    width: min(1022px, 80svw);
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}

@include media(sm) {
    .sentence {
        width: calc(100svw - 40px);
        font-size: 16px;
    }
}

.subtitle_block {
    position: relative;
    top: 25px;
    z-index: 1;
    width: min(1022px, 80svw);
    height: 184px;
    margin: 0 auto;
}

@include media(sm) {
    .subtitle_block {
        width: calc(100svw - 35px);
        height: 168px;
    }
}

@media (width >= 475px) {
    .subtitle_block {
        height: 152px;
    }
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 23px);
    margin: 0;
    border-right: 2px solid #de0d22;
    border-bottom: 2px solid #de0d22;
}

@include media(sm) {
    .border {
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 18px);
    }
}

.border2 {
    position: absolute;
    top: 23px;
    left: 157px;
    width: calc(100% - 159px);
    border-top: 2px solid #de0d22;
}

@include media(sm) {
    .border2 {
        top: 18px;
        left: 113px;
        width: calc(100% - 113px);
    }
}

.border3 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - 35px);
    border-left: 2px solid #de0d22;
}

@include media(sm) {
    .border3 {
        height: calc(100% - 18px);
    }
}

.subtitle {
    margin-left: 12px;
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    vertical-align: middle;
}

@include media(sm) {
    .subtitle {
        margin-left: 8px;
        font-size: 24px;
    }
}

.list {
    position: relative;
    top: 8px;
    left: 0;
    margin-inline: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    vertical-align: middle;
}

@include media(sm) {
    .list {
        top: 0;
        font-size: 16px;
    }
}

.large {
    z-index: 1;
    margin: 86px auto 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

@include media(sm) {
    .large {
        margin: 53px auto 0;
        font-size: 32px;
    }
}

.iconblock {
    margin-top: min(95px, 6.6svw);
}

@include media(sm) {
    .iconblock {
        margin-top: 81px;
        margin-bottom: 15px;
    }
}

.headerblock {
    margin-top: min(90px, 6.25svw);
    margin-bottom: min(19px, 1.3svw);
}

@include media(sm) {
    .headerblock {
        margin-top: 114px;
        margin-bottom: 15px;
    }
}

.wall {
    position: relative;
}

.wallpaper {
    z-index: 1;
    display: flex;
    gap: 1.65svw;
    width: auto;
    height: auto;
    padding: 27px 0;
    margin: 0 auto;
}

@include media(sm) {
    .wallpaper {
        gap: 21px;
        padding: 18px 0;
        margin: 0 20px;
        overflow: auto;
        scroll-snap-type: mandatory;
    }
}

.wallpaperImage {
    width: min(15svw, 180px);
    height: min(30svw, 360px);
}

@include media(sm) {
    .wallpaperImage {
        width: 160px;
        height: 320px;
        scroll-snap-align: center;
    }
}

.back {
    position: fixed;
    inset: 0;
    width: 90svw;
    height: 90svh;
    padding-top: 64px;
    margin: auto;
}

.icon {
    z-index: 1;
    display: flex;
    gap: 1.65svw;
    width: auto;
    height: auto;
    margin: 4px auto;
}

@include media(sm) {
    .icon {
        gap: 16px;
        margin: 0 20px;
        overflow: auto;
        scroll-snap-type: mandatory;
    }
}

.iconImage {
    width: min(20svw, 240px);
    height: min(20svw, 240px);
}

@include media(sm) {
    .iconImage {
        width: 213px;
        height: 213px;
        scroll-snap-align: center;
    }
}

.header {
    z-index: 1;
    display: flex;
    gap: 1.65svw;
    width: auto;
    height: auto;
    padding: 0 35px 20px;
    margin: 0 auto 44px;
}

@include media(sm) {
    .header {
        gap: 10px;
        padding: 0 20px 12px;
        margin: 0 auto 54px;
        overflow: auto;
        scroll-snap-type: mandatory;
    }
}

.headerImage {
    width: min(495px, 42svw);
}

@include media(sm) {
    .headerImage {
        width: 324px;
        height: 108px;
        scroll-snap-align: center;
    }
}

.downloadIcon {
    position: relative;
    top: min(calc(30svw - 40px), 320px);
    right: calc(1.65svw + 40px);
    width: 0;
    height: 0;
    transition: filter 0.15s;

    &:hover {
        filter: drop-shadow(0 0 10px rgb(222 13 34 / 100%));
    }
}

@include media(sm) {
    .downloadIcon {
        top: 284px;
        right: 69px;
        transform: scale(0.9);
    }
}

.icon_download {
    top: min(174px, calc(20svw - 66px));
    right: calc(1.65svw + 66px);
}

@include media(sm) {
    .icon_download {
        top: 155px;
        right: 82px;
    }
}

.header_download {
    top: min(125px, 14svw - 40px);
    right: calc(1.65svw + 48px);
}

@include media(sm) {
    .header_download {
        top: 64px;
        right: 48px;
    }
}
