.red {
    z-index: 1;
    color: #de0d22;
}

.black {
    z-index: 1;
    color: #0b0e0f;
}

.title {
    width: min(1022px, 80svw);
    margin: 30px auto;
    font-size: 40px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
}

@include media(sm) {
    .title {
        width: calc(100svw - 40px);
        margin-bottom: 25px;
        font-size: 28px;
    }
}

.sentence {
    width: min(1022px, 80svw);
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
}

@include media(sm) {
    .sentence {
        width: calc(100svw - 40px);
        font-size: 16px;
    }
}

.subtitle_block {
    position: relative;
    top: 25px;
    z-index: 1;
    width: min(1022px, 80svw);
    height: 184px;
    margin: 0 auto;
}

@include media(sm) {
    .subtitle_block {
        width: calc(100svw - 35px);
        height: 176px;
    }
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 23px);
    margin: 0;
    border-right: 2px solid #de0d22;
    border-bottom: 2px solid #de0d22;
}

@include media(sm) {
    .border {
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 18px);
    }
}

.border2 {
    position: absolute;
    top: 23px;
    left: 157px;
    width: calc(100% - 159px);
    border-top: 2px solid #de0d22;
}

@include media(sm) {
    .border2 {
        top: 18px;
        left: 113px;
        width: calc(100% - 113px);
    }
}

.border3 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - 35px);
    border-left: 2px solid #de0d22;
}

@include media(sm) {
    .border3 {
        height: calc(100% - 18px);
    }
}

.subtitle {
    margin-left: 12px;
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    vertical-align: middle;
}

@include media(sm) {
    .subtitle {
        margin-left: 8px;
        font-size: 24px;
    }
}

.list {
    position: relative;
    top: 8px;
    left: 0;
    margin-inline: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    vertical-align: middle;
}

@include media(sm) {
    .list {
        font-size: 16px;
    }
}

.large {
    z-index: 1;
    margin: 86px auto 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

@include media(sm) {
    .large {
        margin: 53px auto 0;
        font-size: 32px;
    }
}

.iconblock {
    margin-top: min(95px, 6.6svw);
}

.headerblock {
    margin-top: min(90px, 6.25svw);
    margin-bottom: min(19px, 1.3svw);
}

.wall {
    position: relative;
}

.wallpaper {
    z-index: 1;
    display: flex;
    gap: 3.3svw;
    width: auto;
    height: auto;
    padding: 27px 0;
    margin: 0 auto;
}

@include media(sm) {
    .wallpaper {
        gap: 42px;
        padding: 18px 0;
        margin: 0 20px;
    }
}

.wallpaperImage {
    width: min(15svw, 180px);
    height: min(30svw, 360px);
}

@include media(sm) {
    .wallpaperImage {
        width: 160px;
        height: 320px;
    }
}

.back {
    position: fixed;
    inset: 0;
    width: 90svw;
    height: 90svh;
    padding-top: 64px;
    margin: auto;
}

.icon {
    z-index: 1;
    display: flex;
    gap: 3.3svw;
    width: auto;
    height: auto;
    margin: 4px auto;
}

.iconImage {
    width: min(20svw, 240px);
}

.header {
    z-index: 1;
    display: flex;
    gap: 4.2svw;
    width: auto;
    height: auto;
    padding: 0 35px 20px;
    margin: 0 auto 44px;
}

.headerImage {
    width: min(495px, 42svw);
}

.downloadIcon {
    position: absolute;
    display: flex;
    gap: min(calc(18.3vw - 60px), calc(3.3svw + 120px));
    padding-left: min(calc(15svw - 48px), 132px);
    margin-top: min(calc(30svw - 40px), 320px);

    & > a {
        transition: filter 0.15s;

        &:hover {
            filter: drop-shadow(0 0 10px rgb(222 13 34 / 100%));
        }
    }
}

@include media(sm) {
    .downloadIcon {
        gap: 150px;
        padding-left: 117px;
        margin-top: 284px;
        overflow-x: auto;

        & > a {
            max-width: 90%;
            height: auto;
        }
    }
}

.icon_download {
    gap: min(calc(3.3vw + 180px), calc(23.3vw - 60px));
    margin-top: min(174px, 20svw - 66px);
    margin-left: min(174px, 20svw - 66px);
}

.header_download {
    gap: min(calc(4.2vw + 435px), calc(46.2vw - 60px));
    margin-top: min(125px, 14svw - 40px);
    margin-left: min(447px, 42svw - 48px);
}

// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }
}
