.example {
    /* スマホ用のCSS */
    font-size: 10svw;
    color: #0b0e0f;
}

@media screen and (width >= 768px) {
    .example {
        /* PC用のCSS */
        font-size: 76.8px;
        color: #de0d22;
    }
}
