// 共通のスタイル
.example {
    font-size: 36px;
    color: black;
}

.wrapper1 {
    width: 400px;
    margin-top: 33px;
    margin-left: 44px;
}

.container {
    margin-top: 14px;
}

.head {
    display: flex;
    align-items: center; /* 子要素を垂直方向に中央揃え */
    justify-content: space-between; /* 子要素を両端に寄せる */
}

.number {
    width: 32px;
    height: 32px;
    margin-right: 16px; /* 右側に余白を追加 */
    background-color: red;
}

.number-content {
    width: 12px;
    height: 30px;
    margin-top: 1px;
    margin-left: 10px;
    color: white;
}

.title {
    flex-grow: 1; /* 残りのスペースをすべて占めるように設定 */
    width: 198px;
    height: 30px;
    font-size: 20px;
    font-style: medium;
    font-weight: 500;
    line-height: 150%;
}

.cost {
    font-size: 24px;
    font-style: medium;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}

.unit {
    font-size: 20px;
}

.description {
    margin-left: 44px;
    font-size: 13px;
    font-style: medium;
    font-weight: 500;
    line-height: 150%;
}

.wrapper2 {
    display: flex; /* Flexboxを有効にして、子要素を横並びにする */
    align-items: flex-start; /* 子要素を上端に揃える */
    margin-top: 32px;
}

.line {
    width: 4px;
    height: 33px;
    margin-left: 16px;
    background-color: rgb(222 13 34 / 100%);
}

.content {
    margin-left: 10px;
    font-size: 14px;
}

.title-2 {
    font-size: 22px;
}

.wrapper3 {
    display: flex;
    flex-wrap: wrap; /* 画面幅が狭くなったら折り返す */
    gap: 24px;
    border: 1.5px solid rgb(222 13 34 / 100%);
}

.shopCard {
    flex: 1 1 45%; /* 画面幅に応じて伸縮し、最小幅45% */
    gap: 16px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.upside {
    display: flex;
    gap: 16px; /* アイコン、テキスト、リンク間の余白 */
    align-items: center; /* 垂直方向の中央揃え */
}

.iconContainer {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
}

.textContent {
    flex-grow: 1;
}

.shopName {
    font-size: 1.25rem;
    font-weight: bold;
}

.tags {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 4px;
}

.tag {
    padding: 4px 8px;
    color: white;
    background-color: #e57373;
    border-radius: 4px;
}

.link {
    display: flex; /* これが重要！Link自身もFlexコンテナにする */
    flex-shrink: 0;
    gap: 4px; /* 矢印とテキストの間の余白 */
    align-items: center; /* 矢印とテキストを垂直方向で揃える */
    font-size: 0.8rem;
    color: rgb(222 13 34 / 100%);
}

.link::before {
    color: rgb(11 14 15 / 100%);
    content: "▶";
}

.descriptionBazzer3 {
    margin-top: 8px;
    font-size: 0.9rem;
    line-height: 1.5;
}

// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }
}
