.Access_title {
    @include media(sm) {
        margin-top: 30px;
        margin-bottom: 15px;
        margin-left: 10%;
        font-size: 28px;
        font-weight: 700;
    }

    @include media(lg) {
        display: none;
    }
}

.school_img {
    width: 100%;
    max-height: 245px;
    object-fit: cover;
}

.school_name {
    @include media(sm) {
        font-size: 20px;
        font-weight: 500;
    }

    @include media(lg) {
        font-size: 40px;
        font-weight: 500;
    }

    margin: 0 auto;
    margin-top: 35px;
}

.address_container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    border-top: 2px solid rgb(222 13 34 / 100%);
}

.address_line {
    display: flex;
    border-bottom: 2px solid rgb(222 13 34 / 100%);
}

.address_title {
    @include media(sm) {
        font-size: 16px;
    }

    @include media(lg) {
        font-size: 20px;
    }

    margin-left: 5%;
    font-weight: 400;
}

.address_title_fax {
    @include media(sm) {
        font-size: 16px;
    }

    @include media(lg) {
        font-size: 20px;
    }

    font-weight: 400;
}

.address_fixer {
    padding-left: 10%;
    margin: 0 auto;
}

.address_detail {
    @include media(sm) {
        font-size: 16px;
    }

    @include media(lg) {
        font-size: 20px;
    }

    font-weight: 400;
}

.access_container {
    @include media(sm) {
        display: flex;
        flex-direction: column;
        margin-bottom: 45px;
    }

    @include media(lg) {
        display: flex;
        width: 80%;
        max-width: 960px;
        margin: 0 auto;
        margin-top: 55px;
        margin-bottom: 45px;
    }
}

.map {
    @include media(sm) {
        aspect-ratio: 1200/630;
        margin: 0 auto;
        margin-top: 20px;
    }

    @include media(lg) {
        flex-basis: 50%;
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1200/630;
    }
}

.map iframe {
    width: 100%;
    height: 100%;
}

.distance_container {
    @include media(sm) {
        margin-left: 20%;
    }
}

.distance {
    @include media(sm) {
        display: flex;
        font-size: 16px;
    }

    @include media(lg) {
        margin-left: 60px;
        font-size: 20px;
    }

    font-weight: 400;
}

.distance2 {
    @include media(sm) {
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    @include media(lg) {
        margin-left: 78px;
        font-size: 20px;
    }
}

.distance_sm {
    @include media(sm) {
        display: flex;
        align-items: center;
    }
}

.titles {
    padding: 2px 8px;
    margin-bottom: 15px;
    margin-left: 10%;
    font-size: 25px;
    font-weight: 500;
    border-left: 4px solid rgb(222 13 34 / 100%);
}

.railway {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
}

.youtube_link {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;
}

// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }
}
