// 共通のスタイル
.example {
    font-size: 36px;
    color: black;
}

// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }
}

.bg {
    min-height: "100vh";
    background-color: #FFF;
} //　あとで消すかも

p {
    font-family: "Noto Sans JP", sans-serif;
    color: #0b0e0f;
}

.red_text {
    color: #de0d22;
}

.border_common {
    border-color: color.#DE0D22;
    border-style: solid;
    border-width: 2px;
}

._56 {
    width: 335;
    height: 56;
    margin-right: auto;
    margin-left: auto;
}

.b_text {
    font-size: 16px;
    font-weight: 400;
}

.title_text {
    font-size: 22px;
    font-weight: 500;
}

.back_glay {
    background-color: #f7f7f7;
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }
}
