.timer_container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number {
    color: white;

    @include media(sm) {
        font-size: 28px;
        font-weight: 700;
    }

    @include media(lg) {
        font-size: 48px;
        font-weight: 700;
    }
}

.label {
    margin-top: -5px;
    font-weight: 500;
    color: white;

    @include media(sm) {
        font-size: 11px;
    }

    @include media(lg) {
        font-size: 20px;
    }
}

.title_before {
    font-weight: 700;
    color: white;
    text-align: center;

    @include media(sm) {
        margin-top: 20px;
        font-size: 11px;
    }

    @include media(lg) {
        margin-top: 30px;
        font-size: 20px;
    }
}

.title_active {
    font-weight: 700;
    color: white;
    text-align: center;

    @include media(sm) {
        margin-top: 40px;
        font-size: 24px;
    }

    @include media(lg) {
        margin-top: 60px;
        font-size: 40px;
    }
}

.title_ended {
    font-weight: 700;
    color: white;
    text-align: center;

    @include media(sm) {
        margin-top: 30px;
        font-size: 18px;
    }

    @include media(lg) {
        margin-top: 45px;
        font-size: 30px;
    }
}
