.red {
    color: #de0d22;
}

.back {
    position: absolute;
    left: -30px;
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

@include media(sm) {
    .back {
        left: 0%;
        width: 100%;
    }
}

.back_image {
    position: absolute;
    width: 10000%;
    height: 100%;
}

@include media(sm) {
    .back_image {
        display: none;
    }
}

.sp_back_image {
    display: none;
}

@include media(sm) {
    .sp_back_image {
        position: absolute;
        display: inline-block;
        width: 10000%;
        height: 100%;
    }
}

.content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
}

@include media(sm) {
    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 475px;
        padding: 0 5%;
        margin: 0 auto;
        text-align: center;
    }
}

.title {
    z-index: 2;
    max-width: 500px;
    height: 151px;
    margin: 0 auto;
    margin-top: 43px;
    font-size: 64px;
    font-weight: 700;
}

@include media(sm) {
    .title {
        z-index: 2;
        max-width: 350px;
        height: 53px;
        margin: 0 auto;
        margin-top: 30px;
        font-size: 36px;
        font-weight: 700;
    }
}

.subtitle {
    z-index: 2;
    margin-top: -55px;
    font-size: 20px;
    font-weight: 500;
}

@include media(sm) {
    .subtitle {
        z-index: 2;
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
    }
}

.text1 {
    position: relative;
    z-index: 2;
    margin-top: 36px;
    margin-left: max(calc((100% - 800px) / 2), 15%);
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

@include media(sm) {
    .text1 {
        position: relative;
        z-index: 2;
        margin-top: 36px;
        margin-left: 0;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
    }
}

.text2 {
    position: relative;
    z-index: 2;
    width: 800px;
    max-width: 70%;
    margin-top: 31px;
    margin-left: max(calc((100% - 800px) / 2), 15%);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

@include media(sm) {
    .text2 {
        position: relative;
        z-index: 2;
        max-width: 100%;
        margin-top: 28px;
        margin-left: 0;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }
}

.text3 {
    position: relative;
    z-index: 2;
    width: 800px;
    max-width: 70%;
    margin-top: 22px;
    margin-bottom: 94px;
    margin-left: max(calc((100% - 800px) / 2), 15%);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

@include media(sm) {
    .text3 {
        position: relative;
        z-index: 2;
        max-width: 100%;
        margin-top: 28px;
        margin-left: 0;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
    }
}

.url {
    color: #de0d22;
    text-decoration: underline;
    text-decoration-color: #de0d22;
}
