.red {
    color: #de0d22;
}

.back {
    width: calc(100% + 30px);
    display: flex;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: -30px;
    overflow: hidden;
    pointer-events: none;
}
@include media(sm) {
    .back {
        width: 100%;
        left: 0%;
    }
}

.back_image {
    position: absolute;
    width: 10000%;
    height: 100%;
}
@include media(sm) {
    .back_image {
        display: none;
    }
}

.sp_back_image {
    display: none;
}
@include media(sm) {
    .sp_back_image {
        position: absolute;
        display: inline-block;
        width: 10000%;
        height: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    width: 100%;
    flex: 1;
}
@include media(sm) {
    .content {
        display: flex;
        flex-direction: column;
        height: 475px;
        text-align: center;

        margin: 0 auto;
        padding: 0 5%;
        position: relative;
    }
}

.title {
    font-size: 64px;
    font-weight: 700;
    height: 151px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 53px;
    z-index: 2;
}
@include media(sm) {
    .title {
        font-size: 36px;
        font-weight: 700;
        height: 53px;
        max-width: 350px;
        margin: 0 auto;
        margin-top: 35px;
        z-index: 2;
    }
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    margin-top: -65px;
    z-index: 2;
}
@include media(sm) {
    .subtitle {
        font-size: 14px;
        font-weight: 500;
        margin-top: -5px;
        z-index: 2;
    }
}

.text1 {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin-left: max(calc((100% - 800px) / 2), 15%);
    margin-top: 36px;
    z-index: 2;
}
@include media(sm) {
    .text1 {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        margin-top: 36px;
        margin-left: 0;
        z-index: 2;
    }
}

.text2 {
    position: relative;
    width: 800px;
    max-width: 70%;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-left: max(calc((100% - 800px) / 2), 15%);
    margin-top: 31px;
    z-index: 2;
}
@include media(sm) {
    .text2 {
        position: relative;
        max-width: 100%;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        margin-top: 28px;
        margin-left: 0;
        z-index: 2;
    }
}

.text3 {
    position: relative;
    width: 800px;
    max-width: 70%;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-left: max(calc((100% - 800px) / 2), 15%);
    margin-top: 22px;
    margin-bottom: 94px;
    z-index: 2;
}
@include media(sm) {
    .text3 {
        position: relative;
        max-width: 100%;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        margin-top: 28px;
        margin-left: 0;
        z-index: 2;
    }
}

.url {
    color: #de0d22;
    text-decoration: underline;
    text-decoration-color: #de0d22;
}
