// 共通のスタイル
.example {
    font-size: 36px;
    color: black;
}



// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }

    .location {
        font-size: 12px;
        color: #0b0e0f;
    }





    .tag{
        height: 20px;
        margin-left: 25px;
    }



    .containers {
    width: 335px;
    margin-top: 20px;
    margin-left: 20px;
    border-top: #de0d22 1px solid;
}

.card {
        display: flex;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid #de0d22;
    }

    .icon {
        width: 56px;
        height: 56px;
        margin-right: 16px;
        border-radius: 50%;
    }

    .content {
        flex: 1;
    }


    .title {
        font-size: 20px;
        font-weight: bold;
        color: #0b0e0f;
    }

    .buttons {
        display: flex;
        gap: 8px;
        font-size: 10px;
    }

    .underline {
        color: #de0d22;
        text-decoration: underline;
    }

    .container {
        width: 335px;
        padding-bottom: 10px;
        margin-left: 20px;
        font-family: sans-serif;
        border: 1px solid #de0d22;
    }

    .tagItem {
        align-items: center;
        margin-left: 25px;
    }

    .tagname{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 18px;
        font-weight: bold;
    }

    .stampbutton{
        width: 129px;
        height: 24px;
    }

    .eventsbutton{
        width: 84px;
        height: 24px;
    }

    .bazaarbutton{
        width: 70.5px;
        height: 24px;
    }



    .description {
        margin-left: 40px;
        font-size: 13px;
    }

    .highlight {
        font-weight: bold;
        color: #de0d22;
        text-decoration: underline;
    }
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }

    .location {
        font-size: 12px;
        color: #0b0e0f;
    }

    .tag{
        font-size: 15px;

    }


.containers {
    width: 400px;
    margin-top: 20px;
    margin-left: 140px;
    border-top: #de0d22 1px solid;
}

.card {
        display: flex;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid #de0d22;
    }

    .icon {
        width: 56px;
        height: 56px;
        margin-right: 16px;
        border-radius: 50%;
    }

    .content {
        flex: 1;
    }


    .title {
        font-size: 20px;
        font-weight: bold;
        color: #0b0e0f;
    }

    .buttons {
        display: flex;
        gap: 8px;
        font-size: 10px;
    }

    .underline {
        color: #de0d22;
        text-decoration: underline;
    }

    .container {
        width: 680px;
        padding-bottom: 16px;
        margin-top: 20px;
        font-family: sans-serif;
        border: 1px solid #de0d22;
    }

    .tagItem {
        display:flex;
        align-items: center;
        margin-bottom: 12px;
        margin-left: 52px;
    }

    .tagname{
        margin-top: 16px;
        margin-bottom: 8px;
        margin-left: 52px;
        font-size: 20px;
        font-weight: bold;
    }

    .stampbutton{
        width: 129px;
        height: 24px;
    }

    .eventsbutton{
        width: 84px;
        height: 24px;
    }

    .bazaarbutton{
        width: 70.5px;
        height: 24px;
    }

    .stampdestriction{
        margin-left: 32px;
    }

    .eventdescription {
        margin-left: 77px;
    }

    .bazaardescription {
        margin-left: 90.5px;
    }

    .description {
        flex: 1;
        font-size: 14px;
    }

    .highlight {
        font-weight: bold;
        color: #de0d22;
        text-decoration: underline;
    }

}
