// 共通のスタイル
.example {
    font-size: 36px;
    color: black;
}

.card {
        display: flex;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid red;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin-right: 16px;
        border-radius: 50%;
    }

    .content {
        flex: 1;
    }

    .location {
        font-size: 14px;
        color: #666;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
    }

    .buttons {
        margin-top: 8px;
    }

    .stampbutton {
        padding: 6px 12px;
        margin-right: 8px;
        color: white;
        cursor: pointer;
        background-color: #de0d22;
        border: none;
        border-radius: 4px;
    }

    .eventsbutton {
        padding: 6px 12px;
        margin-right: 8px;
        color: white;
        cursor: pointer;
        background-color: #f4631e;
        border: none;
        border-radius: 4px;
    }

    .bazaarbutton {
        padding: 6px 12px;
        color: white;
        cursor: pointer;
        background-color: #ff9f00;
        border: none;
        border-radius: 4px;
    }

    .arrow {
        width: 40px;
        font-size: 24px;
        text-align: center;
        border: #333 1px solid;
        border-radius: 50%; /* 完全な円形 */
    }

    .underline {
        color: #de0d22;
        text-decoration: underline;
    }

    .container {
        display: absolute;
        width: 100%;
        padding: 16px;
        margin-top: auto;
        font-family: sans-serif;
        border: 1px solid #de0d22;
    }

    .tagItem {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }

    .tagname{
        margin-bottom: 8px;
        font-weight: bold;
    }

    .tag {
        min-width: 100px;
        padding: 4px 12px;
        margin-right: 12px;
        font-weight: medium;
        color: white;
        text-align: center;
        border-radius: 4px;
    }

    .red {
        background-color: #e74c3c;
    }

    .orange {
        background-color: #f39c12;
    }

    .yellow {
        color: #333;
        background-color: #f1c40f;
    }

    .description {
        flex: 1;
    }

    .highlight {
        font-weight: bold;
        color: #de0d22;
        text-decoration: underline;
    }

// スマホ用のスタイル
@include media(sm) {
    .example {
        background-color: blue;
    }
}

// PC用のスタイル
@include media(lg) {
    .example {
        // 上書き可能
        color: red;
        background-color: green;
    }


}
