.opening {
    @include media(lg) {
        margin-top: 60px;
        margin-right: 60px;
        margin-left: calc(min(40px, 8svw) - 60px);
        transform: scale(1.5);

        @media (aspect-ratio >= 1/1) and (width >= 950px) {
            @media (height <= 500px) {
                margin-top: 40px;
                transform: scale(1.3);
            }
        }

        @media not ((aspect-ratio >= 1/1) and (width >= 950px)) {
            @media (height <= 750px) {
                margin-top: 40px;
                transform: scale(1.3);
            }
        }
    }

    @media (width <= 950px) {
        margin-top: 30px;
        margin-right: calc(8svw - 20px);
        margin-left: calc(min(40px, 8svw) - (8svw - 20px));
    }

    @include media(sm) {
        margin-top: 35px;
        margin-right: 10svw;
        margin-left: calc(min(35px, 7svw) - 10svw);
        transform: scale(1.2);
    }
}
