.header {
    position: sticky;
    top: 0;
    z-index: 12000;
    height: 45px;
    width: 100%;
    @media (min-width: 768px) {
        height: 64px;
    }
}

.headerContent {
    display: flex;
    height: 100%;
    align-items: center;
    background-color: white;
    box-shadow: -3px 0 3px #0b0e0f77;
    transition-property: margin;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
}

.headerContentOverlapping {
    margin-top: -75px;
}

.logoLink {
    margin-right: auto;
    margin-left: min(40px, 8svw);
    display: block;
    aspect-ratio: 411.258 / 148.991;
    height: 18px;
}

.logo {
    height: 100%;
    width: auto;
    filter: brightness(0%);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    &:hover {
        filter: brightness(100%);
    }
}

.navLinks {
    margin-right: 30px;
    margin-left: auto;
    display: flex;
    gap: 30px;
    font-size: 12px;
    font-weight: 400;
    @media not all and (min-width: 980px) {
        // not-md:
        display: none;
    }
}

.navLink {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    text-shadow: 0 0 25px #de0d2200;
    &:hover {
        text-shadow: 0 0 22px #de0d22;
    }
}

.menuOverlay {
    position: absolute;
    top: 0;
    z-index: 100000001;
    height: 100svh;
    width: 100%;
    overflow: hidden;
}

.menuOverlayHidden {
    pointer-events: none;
}

.menuContent {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffffc0;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    transition-property: clip-path;
    transition-duration: 400ms;
    @include media(sm) {
        transition-duration: 300ms;
    }
}

.menuContentClosed {
    clip-path: polygon(150% 0, 100% 0, 100% 100%, 150% 100%);
    transition-timing-function: ease-in;
}

.menuContentOpen {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 20% 100%);
    transition-timing-function: ease-out;
    @include media(sm) {
        clip-path: polygon(-20% 0, 100% 0, 100% 100%, -40% 100%);
    }
}

.menuLinksContainer {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 100px;
    padding-right: 7%;
    padding-left: 35%;
    @media (min-aspect-ratio: 1/1) and (min-width: 950px) {
        @media (max-height: 500px) {
            padding-top: 75px;
        }
        min-height: max(250px, 65svh);
    }
    @media not ((min-aspect-ratio: 1/1) and (min-width: 950px)) {
        @media (max-height: 750px) {
            padding-top: 75px;
        }
        min-height: max(350px, 70svh);
    }
    @include media(sm) {
        padding-top: 70px;
        padding-right: 10%;
        padding-left: 10%;
    }
}

.headerLink {
    position: relative;
    width: 100%;
    height: calc(100% / 12);
    line-height: 1.4;
    @media (min-aspect-ratio: 1/1) and (min-width: 950px) {
        width: 46%;
        height: calc(100% / 6);
        margin-right: 4%;
    }
}
.headerLinkText {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLinkTitle1 {
    font-size: 24px;
    font-weight: 600;
    color: #de0d22;
    @media (max-width: 1200px) {
        font-size: 20px;
    }
    @media (min-width: 1440px) and (min-height: 750px) {
        font-size: 28px;
    }
    @media (max-width: 450px) and (max-height: 700px) {
        font-size: 18px;
    }
}

.headerLinkTitle2 {
    font-size: 12px;
    color: #0b0e0f;
    @media (max-width: 1200px) {
        font-size: 10px;
    }
    @media (min-width: 1440px) and (min-height: 750px) {
        font-size: 14px;
    }
}

.headerLink > .headerLinkFront {
    .headerLinkTitle1 {
        background-color: #de0d22;
        color: #ffffff;
        clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
        transition-property: clip-path;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .headerLinkTitle2 {
        background-color: #0b0e0f;
        color: #ffffff;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition-property: clip-path;
        transition-duration: 180ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.headerLink:hover > .headerLinkFront {
    .headerLinkTitle1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .headerLinkTitle2 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.headerLink > .headerLinkBack {
    .headerLinkTitle1 {
        transition: text-shadow 200ms ease-out;
    }
}

.headerLink:hover > .headerLinkBack {
    .headerLinkTitle1 {
        text-shadow: 0 -3px 35px #de0d22;
    }
}

.disabledHeaderLinkText {
    color: #0b0e0f;
    opacity: 0.2;
    user-select: none;
}

.linksContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: min(15px, 3svh) 7% 50px 35%;
    height: 100%;
    @include media(sm) {
        padding-left: 10%;
        padding-bottom: min(50px, 7svh);
    }
    @include media(lg) {
        @media (max-height: 500px) {
            padding-top: 0;
        }
    }
}

.linkButton {
    height: 100%;
    border-radius: 10px;
    background-color: #ffffff10;
    transition-property: background-color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: #0b0e0f10;
    }
}

.snsLinks {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5%;
    @media (max-width: 900px) {
        gap: 10px;
    }
    @include media(sm) {
        gap: 5px;
    }
}

.snsLinkItem {
    flex: 1;
}

.snsLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include media(lg) {
        @media (min-height: 700px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        @media (max-height: 500px) {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    @include media(sm) {
        @media (max-height: 550px) {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    @media not (min-width: 450px) {
        flex-direction: column;
        @media (max-height: 700px) {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        @media (max-height: 500px) {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}

.snsIcon {
    height: 28px;
    width: 28px;
    margin-right: 15%;
    @media (max-width: 1200px) {
        height: 24px;
        width: 24px;
    }
    @include media(sm) {
        height: 20px;
        width: 20px;
        margin-right: 10%;
    }
    @media not (min-width: 450px) {
        margin-right: 0;
        margin-bottom: 3px;
        @media (max-height: 600px) {
            height: 16px;
            width: 16px;
        }
        @media (min-height: 800px) {
            height: 22px;
            width: 22px;
            margin-bottom: 6px;
        }
    }
}

.snsText {
    font-size: 16px;
    color: #0b0e0f;
    width: 85px;
    display: flex;
    align-items: center;
    @include media(sm) {
        font-size: 12px;
        width: 70px;
    }
    @media not (min-width: 450px) {
        width: auto;
        font-size: 11px;
        @media (max-height: 500px) {
            font-size: 9px;
        }
        @media (min-height: 800px) {
            font-size: 13px;
        }
    }
}

.contactText {
    font-size: 14px;
    color: #0b0e0f;
    width: 85px;
    @include media(sm) {
        font-size: 11px;
        width: 70px;
    }
    @media not (min-width: 450px) {
        width: auto;
        font-size: 10px;
        @media (max-height: 500px) {
            font-size: 9px;
        }
        @media (min-height: 800px) {
            font-size: 13px;
        }
    }
}

.privacyText {
    font-size: 13px;
    color: #0b0e0f;
    width: 85px;
    height: 24px;
    display: flex;
    align-items: center;
    line-height: 1.4;
    @include media(sm) {
        font-size: 11px;
        width: 70px;
    }
    @media not (min-width: 450px) {
        width: auto;
        text-align: center;
        font-size: 10px;
        @media (max-height: 500px) {
            font-size: 9px;
        }
        @media (min-height: 800px) {
            font-size: 13px;
        }
    }
}

.twitterText {
    color: #0b0e0f90;
    margin-left: 5px;
    font-size: 12px;
    @include media(sm) {
        font-size: 10px;
    }
    @media not (min-width: 450px) {
        @media (max-height: 500px) {
            font-size: 9px;
        }
    }
}

.copyright {
    font-size: 11px;
    width: 100%;
    color: #0b0e0fa0;
    text-align: end;
    @include media(sm) {
        font-size: 9px;
    }
    @media not (min-width: 450px) {
        @media (max-height: 500px) {
            font-size: 8px;
        }
    }
}

.menuBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0b0e0fa0;
    transition-property: clip-path, opacity;
    transition-duration: 400ms;
    @include media(sm) {
        transition-duration: 300ms;
    }
}

.menuBackgroundClosed {
    opacity: 0;
    clip-path: polygon(0 0, 150% 0, 150% 100%, 0 100%);
    transition-timing-function: ease-in;
}

.menuBackgroundOpen {
    clip-path: polygon(0 0, 30% 0, 20% 100%, 0 100%);
    transition-timing-function: ease-out;
    @include media(sm) {
        opacity: 0;
        clip-path: polygon(0 0, -20% 0, -40% 100%, 0 100%);
    }
}
